
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
* {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(68, 87, 68);
}

nav {
    text-align: center;
    margin-bottom: 75px;
    font-size: 25px;
}


    /* list-style-type: none; */
    /* border: 2px solid red; */
    /* padding: 10px; */

ul {    
    text-align: center;
}
li {
    display: inline;
    margin: 10px;
    color: darkcyan;
}

.ul1 {    
    text-align: center;
}
.li1 {
    display: inline;
    margin: 1px;
    color: rgb(0, 139, 104);
    font-size: 20px;
}


a {
    text-decoration: none;
}
a:link {
    color: deeppink;
    text-decoration: none;
}
a:visited {
    color: yellow;
}
a:hover {
    color: deeppink;
    text-decoration: underline;
}
a:active {
    color: darkcyan;
}


img {
    display: block;
    width: 35%;
    margin: 0 auto;
    box-shadow: 5px 5px 5px 5px #465202;
}

.main {
    background-color: rgba(27, 65, 5, 0.726);
    margin: 20px auto;
    padding: 20px;
    height: 400px;
    width: 400px;
    text-align: center;
}


h1 {
    font-family: Roboto, sans-serif;
    font-size: 50px;
    font-weight: 400;
    background-color: rgba(27, 65, 5, 0.726);
    text-transform: uppercase;
    color: rgb(247, 64, 8);
    text-shadow: -2px 2px 4px #00f;
    
    border-top: 5px solid yellow;
    border-bottom: 5px solid  yellow;
    padding: 20px;
    text-align: center;
    margin: 5% 20%;
    border-radius: 10px;

}

p {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: tomato;
}

@media (min-width: 481px) and (max-width: 768px) {
    .main {
        padding: 2px;
        width: 350px;
        height: 350px;
        margin: auto;
        margin-bottom: 20px;
    }   
    h1 {
        font-size: 40px;
    }
    p{
        font-size:15px;
    }
    .li1 {
        font-size: 15px;
    }

}

@media (max-width: 480px) {
    .main {
        padding: 2px;
        width: 275px;
        height: 275px;
        margin: auto;
        margin-bottom: 20px;
    }  
    h1 {
        font-size: 25px;
    }
    p {
        font-size: 12px;
    }
    .li1 {
        font-size: 12px;
    }
}
