
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
* {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: border-box;
}

.title, .main {
    margin-top: 20px;

}
.cat {
    text-align: center;
}

body {
    background-color: rgb(68, 87, 68);
}

nav {
    text-align: center;
    margin-bottom: 75px;
    font-size: 25px;
}


@media (min-width: 481px) and (max-width: 768px) {
    .title, .main {
        background-color: rgba(27, 65, 5, 0.726);
        padding: 2px;
        border-radius: 10px;
        width: 600px;
        margin: auto;
        margin-bottom: 20px;
    }   
    h1 {
        font-size: 30px;
    }
    h2{
        font-size-15px;
    }

}

@media (max-width: 480px) {
    .title, .main {
        background-color: rgba(27, 65, 5, 0.726);
        padding: 2px;
        border-radius: 10px;
        width: 300px;
        margin: auto;
        margin-bottom: 20px;
    }  
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 12px;
    }
}

ul {
    /* list-style-type: none; */
    border: 2px solid red;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}
li{
    display: inline;
    margin: 10px;
}

a {
    text-decoration: none;
}
a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: yellow;
}
a:hover {
    color: deeppink;
    text-decoration: underline;
}
a:active {
    color: green;
}

h1 {
    font-family: Roboto, sans-serif;
    /* font-size: 50px; */
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(247, 64, 8);
    text-shadow: -2px 2px 4px #00f;
    border-top: 5px solid yellow;
    border-bottom: 5px solid  yellow;
    padding: 20px;
    text-align: center;
    margin: 5% 20%;
    border-radius: 10px;
}

h2 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: tomato;
    text-shadow: -2px 2px 4px #00f;
}

p {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 30px;
    background-color:rgb(89, 218, 95);
    color: white;
    text-shadow: -2px 2px 4px #000;
}

